body {
    margin: 0; /* Αφαιρούμε τα περιθώρια του body */
    overflow: hidden; /* Αποτρέπουμε την κύλιση */
}

#gameCanvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    background-image: url('background.jpg'); /* Εδώ μπορείς να βάλεις την εικόνα του background */
    background-size: cover; /* Καλύπτει ολόκληρη την επιφάνεια του καμβά */
}

/* Στυλ για τον καμβά σε κινητές συσκευές */
@media (max-width: 768px) {
    #gameCanvas {
        width: 100%;
        height: auto;
    }
}

/* Στυλ για τον καμβά σε υπολογιστές */
@media (min-width: 769px) {
    #gameCanvas {
        width: 800px;
        height: 600px;
    }
}

/* Στυλ για την ειδοποίηση */
#notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.notification-content {
    text-align: center;
}

.hidden {
    display: none;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}
