/* Στυλ για το καμβά */
#gameCanvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    width: 100%; /* Προσαρμόζει το πλάτος στον καμβά */
    height: auto; /* Αυτόματη προσαρμογή ύψους */
}

/* Στυλ για την ειδοποίηση */
#notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.notification-content {
    text-align: center;
}

.hidden {
    display: none;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}
